<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-pages/iron-pages.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-datatable/paper-datatable.html">
<link rel="import" href="../paper-datatable/paper-datatable-column.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-material/paper-material.html">
<link rel="import" href="../paper-toast/paper-toast.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-score-for-teacher`
@demo demo/campus-score-for-teacher.html
-->
<dom-module id="campus-score-for-teacher">
    <template>
        <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
        <style>
            :host {
                display: block;
                position: relative;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 100%;
                background: #f2f2f2;
            }
            
            :host .gray-color {
                color: var(--secondary-text-color);
            }
            
            :host .paper-header {
                background: var(--primary-color);
                color: #fff;
                padding: 0 16px;
            }
            
            @media (max-width: 500px) {
                :host .paper-header paper-input {
                    flex: 1 1 240px;
                }
            }
            
            :host .paper-header paper-input {
                --paper-input-container-color: #eee;
                --paper-input-container-focus-color: #fff;
                --paper-input-container-input-color: #fff;
                margin: 4px;
            }
        </style>
        <paper-header-panel mode="waterfall">
            <header class="paper-header">
                <div class="layout horizontal center wrap" style="max-width:992px;margin:0px auto">
                    <paper-input label="課程" value="{{chooseCourse}}" list="courseList" autocomplete></paper-input>
                    <paper-icon-button icon="icons:settings" on-tap="_togglePage" hidden$="{{_hiddenSetting}}" aria-label="Setting Course Assessments"></paper-icon-button>
                </div>
            </header>
            <main style="padding:8px">
                <paper-material elevation="1" class="flex-auto" style="max-width:1008px;margin:0px auto;background:#fff">
                    <iron-pages selected="{{page}}" attr-for-selected="page">
                        <div page="score">
                            <div class="layout horizontal center" style="padding:8px 16px">
                                <paper-input label="評量" value="{{chooseAssessmentItem}}" list="assessmentItemList" autocomplete></paper-input>
                                <div class="flex-auto"></div>
                                <paper-icon-button class="gray-color" icon="icons:save" on-tap="_saveAssessment" hidden$="{{!targetAssessmentItem}}" aria-label="Save Assessment"></paper-icon-button>
                            </div>
                            <div hidden$="{{!targetAssessmentItem}}">
                                <paper-datatable data="{{students}}">
                                    <paper-datatable-column header="班級" property="ClassName">
                                        <template>
                                            <div style="white-space:nowrap">{{value}}</div>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="座號" property="SeatNo">
                                        <template>
                                            <div style="white-space:nowrap">{{value}}</div>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="姓名" property="StudentName">
                                        <template>
                                            <div style="white-space:nowrap">{{value}}</div>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="等第評量" inactive="{{!targetAssessmentItem.level}}">
                                        <template>
                                            <paper-input hidden$="{{item.tutor}}" value="{{item.score.level}}" list="levelList" autocomplete></paper-input>
                                            <div hidden$="{{!item.tutor}}" style="white-space:nowrap">{{item.score.level}}</div>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="分數評量" inactive="{{!targetAssessmentItem.number}}">
                                        <template>
                                            <paper-input hidden$="{{item.tutor}}" type="number" value="{{item.score.number}}"></paper-input>
                                            <div hidden$="{{!item.tutor}}" style="white-space:nowrap">{{item.score.number}}</div>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="文字評量" inactive="{{!targetAssessmentItem.text}}">
                                        <template>
                                            <paper-input hidden$="{{item.tutor}}" value="{{item.score.text}}"></paper-input>
                                            <div hidden$="{{!item.tutor}}">{{item.score.text}}</div>
                                        </template>
                                    </paper-datatable-column>
                                </paper-datatable>
                            </div>
                        </div>
                        <div page="setting">
                            <div class="layout horizontal center" style="padding:8px 16px">
                                <div class="flex-auto"></div>
                                <paper-icon-button class="gray-color" icon="icons:add" on-tap="_openAssessmentItemDialog"></paper-icon-button>
                            </div>
                            <div style="overflow:auto">
                                <paper-datatable data="{{assessmentItems}}" style="min-width:600px">
                                    <paper-datatable-column header="評量名稱" property="name">
                                        <template>
                                            <div style="white-space:nowrap">{{value}}</div>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="等第評量" property="level">
                                        <template>
                                            <paper-checkbox checked="{{value}}" disabled></paper-checkbox>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="分數評量" property="number">
                                        <template>
                                            <paper-checkbox checked="{{value}}" disabled></paper-checkbox>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="文字評量" property="text">
                                        <template>
                                            <paper-checkbox checked="{{value}}" disabled></paper-checkbox>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="開放查詢" property="open">
                                        <template>
                                            <paper-checkbox checked="{{value}}" disabled></paper-checkbox>
                                        </template>
                                    </paper-datatable-column>
                                    <paper-datatable-column header="" style="min-width:140px">
                                        <template>
                                            <paper-icon-button class="gray-color" icon="icons:delete" on-tap="_openDeleteAssessmentItemDialog"></paper-icon-button>
                                            <paper-icon-button class="gray-color" icon="icons:create" on-tap="_openAssessmentItemDialog"></paper-icon-button>
                                        </template>
                                    </paper-datatable-column>
                                </paper-datatable>
                            </div>
                        </div>
                    </iron-pages>
                </paper-material>
            </main>
        </paper-header-panel>
        <paper-dialog modal id="editAssessmentItemDialog" on-iron-overlay-closed="_dismissAssessmentItemDialog">
            <paper-dialog-scrollable>
                <div class="layout vertical" style="min-width: 192px">
                    <paper-input class="flex-auto" label="評量名稱" placeholder="ex: Assessment 1" value="{{editAssessmentItem.name}}"></paper-input>
                    <paper-checkbox checked="{{editAssessmentItem.level::change}}" style="margin:4px 0">等第評量</paper-checkbox>
                    <paper-input label="等第項目" placeholder="ex: A, B, C, D" value="{{editAssessmentItem.levelItem}}" hidden$="{{!editAssessmentItem.level}}"></paper-input>
                    <paper-checkbox checked="{{editAssessmentItem.number}}" style="margin:4px 0">分數評量</paper-checkbox>
                    <paper-checkbox checked="{{editAssessmentItem.text}}" style="margin:4px 0">文字評量</paper-checkbox>
                    <paper-checkbox checked="{{editAssessmentItem.open}}" style="margin:4px 0">開放查詢</paper-checkbox>
                    <paper-input type="number" label="排序" value="{{editAssessmentItem.sequence}}"></paper-input>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>取消</paper-button>
                <paper-button dialog-confirm>儲存</paper-button>
            </div>
        </paper-dialog>
        <paper-dialog modal id="deleteAssessmentItemDialog" on-iron-overlay-closed="_dismissDeleteAssessmentItemDialog">
            <h3>確定刪除此項評量【[[editAssessmentItem.name]]】？</h3>
            <div class="buttons">
                <paper-button dialog-dismiss>取消</paper-button>
                <paper-button dialog-confirm>確定</paper-button>
            </div>
        </paper-dialog>
        <paper-toast id="toast"></paper-toast>
        <datalist id="courseList">
            <template is="dom-repeat" items="{{courses}}">
                <option value="{{item.CourseName}}"></option>
            </template>
        </datalist>
        <datalist id="assessmentItemList">
            <template is="dom-repeat" items="{{assessmentItems}}">
                <option value="{{item.name}}"></option>
            </template>
        </datalist>
        <datalist id="levelList">
            <template is="dom-repeat" items="{{targetAssessmentItem.levelList}}">
                <option value="{{item}}"></option>
            </template>
        </datalist>
    </template>
    <script>
        Polymer({

            is: 'campus-score-for-teacher',

            properties: {
                page: String,
                chooseCourse: {
                    type: String,
                    observer: '_courseChanged'
                },
                targetCourse: Object,
                courses: Array,
                students: Array,
                assessmentItems: Array,
                editAssessmentItem: Object,
                chooseAssessmentItem: {
                    type: String,
                    observer: '_assessmentItemChanged'
                },
                targetAssessmentItem: Object
            },

            behaviors: [Campus.ServiceBehavior],

            _courseChanged: function(newValue, oldValue) {
                if (this.courses) {
                    this.set('_hiddenSetting', true);
                    this.set('page', 'score');
                    this.set('targetCourse', null);
                    this.set('chooseAssessmentItem', '');
                    this.set('students', []);

                    this.courses.forEach(function(item) {
                        if (item.CourseName === newValue) {
                            this.set('_hiddenSetting', item.Type === 'tutor');
                            this.set('targetCourse', item);
                            this._getStudents();
                            this._getAssessmentItems();
                        }
                    }.bind(this));
                }
            },

            _assessmentItemChanged: function(newValue, oldValue) {
                this.set('targetAssessmentItem', null);

                if (newValue) {
                    this.assessmentItems.forEach(function(item) {
                        if (item.name === newValue) {
                            this.set('targetAssessmentItem', item);
                            this.students.forEach(function(s) {
                                s.tutor = item.Type === 'tutor';
                                s.score = {
                                    number: '',
                                    text: '',
                                    level: ''
                                }
                            });
                            this._getAssessment();
                        }
                    }.bind(this));
                }
            },

            ready: function() {
                this._getCourses();
                this.set('_hiddenSetting', true);
            },

            _togglePage: function(e) {
                this.set('page', this.page === 'setting' ? 'score' : 'setting');
            },

            _getCourses: function() {
                var request = {
                    contract: 'campus.score.teacher',
                    service: '_.GetCourses',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        this.set('courses', [].concat(response.Items.Item || []));
                    }
                }.bind(this));
            },

            _getStudents: function() {
                var request = {
                    contract: 'campus.score.teacher',
                    service: '_.GetStudents',
                    body: {
                        Request: {
                            CourseID: this.targetCourse.CourseID
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Students) {
                        this.set('students', [].concat(response.Students.Student || []));
                    }
                }.bind(this));
            },

            _getAssessmentItems: function() {
                this.set('assessmentItems', []);

                var request = {
                    contract: 'campus.score.teacher',
                    service: '_.GetAssessmentItem',
                    body: {
                        Request: {
                            CourseID: this.targetCourse.CourseID
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        var items = [];
                        [].concat(response.Items.Item || []).forEach(function(item) {
                            var content = JSON.parse(item.Content);
                            items.push({
                                uid: item.UID,
                                name: content.name,
                                number: content.number,
                                text: content.text,
                                level: content.level,
                                levelItem: content.levelItem,
                                levelList: content.levelItem.split(','),
                                open: item.Open === 't',
                                sequence: item.Sequence
                            })
                        });

                        items.sort(function(x, y) {
                            return x.sequence - y.sequence;
                        });

                        this.set('assessmentItems', items);
                    }
                }.bind(this));
            },

            _openAssessmentItemDialog: function(e) {
                if (e.model && e.model.item) {
                    this.set('editAssessmentItem', {
                        uid: e.model.item.uid,
                        name: e.model.item.name,
                        number: e.model.item.number,
                        text: e.model.item.text,
                        level: e.model.item.level,
                        levelItem: e.model.item.levelItem,
                        open: e.model.item.open,
                        sequence: e.model.item.sequence
                    });
                } else {
                    this.set('editAssessmentItem', {
                        name: '',
                        number: false,
                        text: false,
                        level: false,
                        levelItem: '',
                        open: false,
                        sequence: this.assessmentItems.length + 1
                    });
                }
                this.$.editAssessmentItemDialog.open();
            },

            _dismissAssessmentItemDialog: function(e) {
                if (e.detail.confirmed) {
                    var data = {
                        Content: JSON.stringify({
                            name: this.editAssessmentItem.name,
                            number: this.editAssessmentItem.number,
                            text: this.editAssessmentItem.text,
                            level: this.editAssessmentItem.level,
                            levelItem: this.editAssessmentItem.levelItem
                        }),
                        Open: this.editAssessmentItem.open,
                        Sequence: this.editAssessmentItem.sequence
                    };

                    if (this.editAssessmentItem.uid)
                        data.UID = this.editAssessmentItem.uid;
                    else
                        data.CourseID = this.targetCourse.CourseID;

                    var request = {
                        contract: 'campus.score.teacher',
                        service: '_.SetAssessmentItem',
                        body: {
                            Request: data
                        }
                    }

                    this.generateRequest(request, function(response) {
                        if (response && response.Message === 'Well done!') {
                            this._getAssessmentItems();
                        }
                    }.bind(this));
                }
            },

            _openDeleteAssessmentItemDialog: function(e) {
                this.set('editAssessmentItem', e.model.item);
                this.$.deleteAssessmentItemDialog.open();
            },

            _dismissDeleteAssessmentItemDialog: function(e) {
                if (e.detail.confirmed) {
                    var request = {
                        contract: 'campus.score.teacher',
                        service: '_.DeleteAssessmentItem',
                        body: {
                            Request: {
                                UID: this.editAssessmentItem.uid
                            }
                        }
                    }

                    this.generateRequest(request, function(response) {
                        if (response && response.Message === 'Well done!') {
                            this._getAssessmentItems();
                        }
                    }.bind(this));
                }
            },

            _getAssessment: function() {
                var request = {
                    contract: 'campus.score.teacher',
                    service: '_.GetAssessmentValue',
                    body: {
                        Request: {
                            UID: this.targetAssessmentItem.uid
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        var items = [].concat(response.Items.Item || []);
                        this.students.forEach(function(s, idx) {
                            items.forEach(function(item) {
                                if (s.StudentID === item.StudentID)
                                    this.set(['students.', idx, '.score'].join(''), JSON.parse(item.Content));
                            }.bind(this));
                        }.bind(this));
                    }
                }.bind(this));
            },

            _saveAssessment: function() {
                var students = [];
                this.students.forEach(function(s) {
                    students.push({
                        StudentID: s.StudentID,
                        Content: JSON.stringify({
                            number: s.score.number,
                            text: s.score.text,
                            level: s.score.level
                        })
                    })
                });

                var request = {
                    contract: 'campus.score.teacher',
                    service: '_.SetAssessmentValue',
                    body: {
                        Request: {
                            AssessmentItemID: this.targetAssessmentItem.uid,
                            Student: students
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Message === 'Well done!') {
                        this.$.toast.show({
                            text: '儲存完成!',
                            duration: 1000
                        });
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
