<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-header-panel/paper-header-panel.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../campus-behavior/campus-behavior.html">
<!--
`campus-score-for-student`
@demo demo/campus-score-for-student.html 
-->
<dom-module id="campus-score-for-student">
    <template>
        <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
        <style>
            :host {
                display: block;
                position: relative;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                height: 100%;
                background: #f2f2f2;
            }
            
            :host .paper-header {
                background: var(--primary-color);
                color: #fff;
                padding: 0 16px;
            }
            
            @media (max-width: 500px) {
                :host .paper-header paper-input {
                    flex: 1 1 240px;
                }
            }
            
            :host .paper-header paper-input {
                --paper-input-container-color: #eee;
                --paper-input-container-focus-color: #fff;
                --paper-input-container-input-color: #fff;
                margin: 4px;
            }
            
            :host article {
                flex: 1 1 280px;
                margin: 4px;
            }
            
            :host .card-header {
                @apply(--paper-font-headline);
                margin: 0;
            }
            
            :host .card-detail {
                color: #373737;
                margin-top: 16px;
            }
            
            :host .card-detail div {
                margin: 4px 0;
            }
        </style>
        <paper-header-panel mode="waterfall">
            <header class="paper-header">
                <div class="layout horizontal center wrap" style="max-width:992px;margin:0px auto">
                    <paper-input label="課程" value="{{chooseCourse}}" list="courseList" autocomplete></paper-input>
                </div>
            </header>
            <main>
                <div class="layout horizontal start-justified wrap" style="padding:4px;max-width:1024px;margin:0px auto">
                    <template is="dom-repeat" items="{{assessments}}">
                        <article class="layout vertical">
                            <paper-card class="flex-auto">
                                <div class="card-content flex-auto">
                                    <h2 class="card-header">{{item.key.name}}</h2>
                                    <div class="card-detail">
                                        <div hidden$="{{!item.key.level}}">等第：{{item.value.level}}</div>
                                        <div hidden$="{{!item.key.number}}">分數：{{item.value.number}}</div>
                                        <div hidden$="{{!item.key.text}}">{{item.value.text}}</div>
                                    </div>
                                </div>
                            </paper-card>
                        </article>
                    </template>
                    <article style="visibility:hidden"></article>
                    <article style="visibility:hidden"></article>
                </div>
            </main>
        </paper-header-panel>
        <datalist id="courseList">
            <template is="dom-repeat" items="{{courses}}">
                <option value="{{item.CourseName}}"></option>
            </template>
        </datalist>
    </template>
    <script>
        Polymer({

            is: 'campus-score-for-student',

            properties: {
                chooseCourse: {
                    type: String,
                    observer: '_courseChanged'
                },
                courses: Array,
                assessments: Array
            },

            behaviors: [Campus.ServiceBehavior],

            _courseChanged: function(newValue, oldValue) {
                if (this.courses) {
                    this.set('assessments', []);
                    this.courses.forEach(function(item) {
                        if (item.CourseName === newValue) {
                            this._getAssessment(item.CourseID);
                        }
                    }.bind(this));
                }
            },

            ready: function() {
                this._getCourses();
            },

            _getCourses: function() {
                var request = {
                    contract: 'campus.score.student',
                    service: '_.GetCourses',
                    body: ''
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        this.set('courses', [].concat(response.Items.Item || []));
                    }
                }.bind(this));
            },

            _getAssessment: function(course_id) {
                var request = {
                    contract: 'campus.score.student',
                    service: '_.GetAssessment',
                    body: {
                        Request: {
                            CourseID: course_id
                        }
                    }
                }

                this.generateRequest(request, function(response) {
                    if (response && response.Items) {
                        var items = [];
                        [].concat(response.Items.Item).forEach(function(item) {
                            items.push({
                                key: JSON.parse(item.Key),
                                value: JSON.parse(item.Value)
                            })
                        });

                        this.set('assessments', items);
                    }
                }.bind(this));
            }
        });
    </script>
</dom-module>
